{% extends 'flight_templates/base.html' %}

{% block content %}

{% load tags %}
{% timestamp_to_aware_datetime flight.actual_takeoff_ts as takeoff_time %}
{% timestamp_to_location_datetime flight.actual_takeoff_ts flight.departure_location as takeoff_time_local %}

<div class="row">
    <div class="col">
        ETA: {{ flight.readable_eta|default:"N/A (yet)" }}
    </div>
</div>

<div class="row">
    <div class="col">
        Taken off at {{ takeoff_time_local }} / <span class="text-danger">{{ takeoff_time }}</span>
    </div>
</div>

{% endblock %}