<div class="container border text-center">

    <div class="row border-bottom pb-3">
        <div class="col">
            {{ flight.number_in_itinerary }} / {{ itineraries|length }}
        </div>
        <div class="col">
            {{ flight.full_name }}
        </div>
        <div class="col">
            Tallinn -> Paris
        </div>
        <div class="col">
            Status: {{ flight.status|default:"N/A" }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            
        </div>
        <div class="col border-left">
            Scheduled
        </div>
        <div class="col border-left border-right">
            Estimated
        </div>
        <div class="col">
            Actual
        </div>
    </div>

    <div class="row border-top">
        <div class="col">
            Takeoff
        </div>
        <div class="col border-left">
            {{ flight.scheduled_takeoff }}
        </div>
        <div class="col border-left border-right">
            -
        </div>
        <div class="col">
            {{ flight.takeoff_actual_datetime|default:"N/A yet" }}
        </div>
    </div>

    <div class="row border-top">
        <div class="col">
            Landing
        </div>
        <div class="col border-left">
            {{ flight.scheduled_landing }}
        </div>
        <div class="col border-left border-right">
            {{ flight.readable_eta|default:"N/A yet" }}
        </div>
        <div class="col">
            {{ flight.landing_actual_datetime|default:"N/A yet" }}
        </div>
    </div>

    <div class="row border-top">
        <div class="col border-right">
            Last updated: {{ flight.minutes_since_last_update|default:"Never" }}
        </div>
        <div class="col">
            {% if flight.map_link %}
            <a href="{{ flight.map_link }}">Link to live map</a>
            {% else %}
            <p>The link to the live map will be here, once it's available</p>
            {% endif %}
        </div>
    </div>

</div>